* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
    background: url("../image/headerImg.png") center no-repeat;
    background-size: 100% auto;
    text-align: center;
    margin-bottom: 20px;
}

.profile h2, p{
    margin: 15px;
}

.pictureProfile{
    height: 150px;
    border-radius: 100%;
    position: relative;
    margin-top: 100px;
    /* border: dashed 2px; */
    box-shadow: 5px 5px 5px black;
}

.socialMedia{
    color: black;
    text-decoration: none;
    margin-left: 7px;
}

footer {
    margin-top: 200px;
    text-align: center;
}